@{
    ViewBag.Title = "Home Page";
}
<img src="~/Content/coffee.jpg" height="400" width="900" />
<div class="jumbotron">
    <h1>GC Coffee Shop</h1>
    <div class="col-md-pull-1">
        <p class="lead">This is my coffee shop. You can view our products and think about purchasing them here! Come, stay a while! Have the time of your life...</p>
        <p><a href="/Users/Create" class="btn btn-primary btn-lg">Register &raquo;</a></p>
    </div>
    <div class="col-md-pull-7">
        <h2>View Invintory</h2>
        <p>
            View our VAST inventory of coffee products!
        </p>
        <p><a href="/Items/Index" class="btn btn-primary btn-group">View Inventory &raquo;</a></p>
    </div>
</div>
